:root{
    --base_headerMain : #0C1116;
    --base_headerMain2 : #080b0e;
    --base_bodyMain : #171A22;
    --base_bodyMain2 : #11131a;
    --base_defaultTextColor : white;
    --base_bodyMainShadow : #06090c;

    --Body_Width: calc(1920px * 0.6);
    --AccentColour : #3576FE;
}

.light{
    transition: all .2s;

    --headerMain : #EEEEEE;
    --headerMain2 : #dbdbdb;
    --bodyMain : rgb(255, 255, 255);
    --bodyMain2 : rgb(224, 224, 224);
    --defaultTextColor : rgb(0, 0, 0);
    --bodyMainShadow : rgb(165, 165, 165);
}

.dark{
    transition: all .2s;

    --headerMain : var(--base_headerMain);
    --headerMain2 : var(--base_headerMain2);
    --bodyMain : var(--base_bodyMain);
    --bodyMain2 : var(--base_bodyMain2);
    --defaultTextColor : var(--base_defaultTextColor);
    --bodyMainShadow : var(--base_bodyMainShadow);
}






body{
    font-family: 'Roboto', sans-serif;

    color: var(--defaultTextColor);
    background: linear-gradient(45deg, var(--bodyMain2) 0%, var(--bodyMain) 100%);

    margin: 0em;
    cursor: default;

    animation: transitionIn .5s linear;
}

@keyframes transitionIn{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}



/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background-color: var(--headerMain2);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--AccentColour); 
}



.MainContainer{
    position: relative;

    left: Calc((100% - var(--Body_Width)) / 2);

    min-width : var(--Body_Width);
    width: var(--Body_Width);
    height: 100%;

    margin-top: 5em;
}





.TopBar{
    position: relative;
    width: 100%;
    height: 4em;

    background-color: var(--headerMain);
    z-index: 10;
}

.TopBarContainer{
    position: relative;

    min-width : var(--Body_Width);
    width: var(--Body_Width);
    height: 100%;

    left: Calc((100% - var(--Body_Width)) / 2);

    display: flex;
}

ul.TopBarItem{
    display: flex;
    list-style-type: none;  

    width: 95%;
}

li.TopBarItem{
    height: 100%;
    width: auto;
    margin-right: 2em;
}

a.TopBarItem{
    text-decoration: none;
    height: 100%;

    text-align: center;
    vertical-align: sub;

    color: var(--defaultTextColor);

    transition: color .2s;
}

a.TopBarItem:hover{
    cursor: pointer;
    color: var(--AccentColour);
}

input.TopBarItem{
    position: relative;

    width: 2em;
    height: 2em;
    right: .5em;

    background-color: var(--headerMain);
    border-width: 0px;

    opacity: 0;
    z-index: 1;

    cursor: pointer;
}

.gg-dark-mode {
    position: relative;

    transform: scale(var(--ggs,1.25));
    right: .5em;
    top: 1.25em;

    margin: 0em;
}

div#Topbar_Notification{
    position: sticky;

    width: 100%;
    height: 1.5em;
    background-color: var(--AccentColour);
    display: flex;
    justify-content: center;

    z-index: 10;
}

div.Topbar_Notification{
    width: var(--Body_Width);
    display: inline;
}

input.Topbar_Notification{
    position: relative;

    text-decoration: none;
    border-style: none;
    background-color: transparent;

    width: 1em;
    left: calc(100% - 1em);
    height: 1em;
    bottom: 2.4em;

    text-align: center;
    font-size: 20px;
    color: white;

    cursor: pointer;
}

p.Topbar_Notification{
    position: relative;
    width: 50%;

    bottom: .8em;
    font-size: 15px;

    cursor: pointer;
}


div.ProfileContainer{
    position: relative;
    width: 100%;
    height: 25em;
}

div.ProfileHolder{
    width: 25em;
    height: 25em;

    box-shadow: var(--bodyMainShadow) 5px 5px 15px 0px;
    background-color: var(--headerMain);
    border-radius: 25px;

    display: flex;
    justify-items: center;
}

img.ProfileHolder{
    position: relative;
    width: 15em;
    height: 15em;

    border-radius: 100000px;
    left: calc(5em);
    top: 2em;

    box-shadow: var(--base_bodyMainShadow) 0px 0px 25px 0px;
}

a.ProfileHolder{
    position: relative;
    text-align: center;

    right: 25;
    top: 3.7em;
    right: 1.76em;

    font-size: 75px;
    font-weight: bold;
    font-variant: all-small-caps;
}





div.ProfileLatestContainer{
    position: relative;

    height: 20em;
    width: calc((100% - 25em) - 5em);

    left: 30em;
    bottom: 25em;
}

div.ProfileLatest{
    position: relative;

    width: 100%;
    height: 100%;

    box-shadow: var(--bodyMainShadow) 5px 5px 15px 0px;
    background-color: var(--headerMain);
    top: 1em;

    border-radius: 25px;

    display: flex;

    justify-content: space-evenly;
    vertical-align: center;
    align-items: center;
}

iframe.ProfileLatest
{
    position: relative;

    border-radius: 25px;
    box-shadow: var(--base_bodyMainShadow) 0px 0px 25px 0px;
}

div.ProfileLatestText{
    max-width: 10em;
    height: 70%;

    display: inline-block;
}

input.ProfileLatestText{
    position: relative;

    top: 11em;

    height: 3em;
    width: 12em;
    z-index: 10;
    
    background-color: var(--headerMain);
    color: var(--defaultTextColor);

    border-radius: 25px;    
	border: 3px solid var(--AccentColour);
    
    transition: all .2s linear;
    cursor: pointer;
}

input.ProfileLatestText:hover{
    background-color: var(--AccentColour);
    transform: scale(1.1);
}



a.ProfileLatest{
    position: relative;

    font-size: 50px;
    height: 5em;

    padding-left: 15px;
}






div.Links{
    position: relative;
    top: 5em;
}

a.Links{
    position: relative;

    font-size: 50px;
    top: 1em;
    left: 1em;
}


#LinkMainContainer{
    width: calc(100% - 2.5em);
    height: 35em;
    margin-top: 5em;

    display: grid;
    grid-template-columns: repeat(4, auto);
    background-color: var(--headerMain);

    border-radius: 25px;
    padding-top: 2.5em;
    padding-left: 2.5em;

    box-shadow: var(--bodyMainShadow) 5px 5px 15px 0px;
}

div.LinkContainer{
    height: 15em;
    min-width: 15em;
    max-width: 15em;

    background-color: var(--headerMain2);
    border-radius: 30px;

    box-shadow: var(--bodyMainShadow) 5px 5px 15px 0px;
}

div.LinkContainerTop{
    height: 5em;
    position: relative;

    display: flex;
    justify-content: center;
}

a.LinkContainerTop{
    position: relative;

    font-size: 40px;
    font-weight: bold;
    font-variant: all-small-caps;

    top: .7em;
    text-align: center;

    text-shadow: var(--bodyMainShadow) 0px 0px 10px;
}


div.LinkContainerBot{
    position: relative;

    height: 5em;
    width: 99.9%;
    left: .05%;

    background-color: var(--bodyMain2);
}


div.LinkContainerBot2{
    position: relative;

    width: 100%;
    height: 10em;
    bottom: 5em;
    
    background-color: var(--bodyMain2);
    border-radius: 00px 0px 30px 30px;
}

input.LinkContainerBot{
    position: relative;

    bottom: 12em;
    left: 3em;

    height: 3em;
    width: 12em;
    z-index: 10;
    
    background-color: var(--headerMain);
    color: var(--defaultTextColor);

    border-radius: 25px;    
	border: 3px solid var(--AccentColour);
    
    transition: all .2s linear;

    cursor: pointer;
}

input.LinkContainerBot:hover{
    background-color: var(--AccentColour);
    transform: scale(1.1);
}






div#Enlarged_Image_Holder{
    position: absolute;

    top: 0em;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .9);

    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

img#Enlarged_Image{
    position: relative;
    height: 70%;
    border-radius: 25px;

    border-style: solid;
    border-color: var(--headerMain2);
    background-color: var(--bodyMainShadow);
    border-width: 15px;
    
    animation: imageEnlarge .1s ease-in-out;
    cursor: pointer;
}


@keyframes imageEnlarge{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}






.Footer{
    position: relative;
    margin-top: 20em;

    width: 100%;
    height: 10em;
    background-color: var(--headerMain2);
}
